@page "/analysis"
@inject AppState state
@inject SignalRService signalR
@implements IDisposable

@using System.ComponentModel

<h1 class="display-4">Analysis</h1>

<div class="row">
    <div class="col-lg-8">
        <div class="card">
            <div class="card-header card-header-tabs card-header-info">
                <div class="nav-tabs-navigation">
                    <div class="nav-tabs-wrapper">
                        <ul class="nav nav-tabs w-100" data-tabs="tabs">
                            @foreach (ApiSource source in Enum.GetValues(typeof(ApiSource)).Cast<ApiSource>().Skip(1))
                            {
                                <li class="nav-item" onclick="@(() => this.SelectSource(source))">
                                    <a class="nav-link @((ApiSource)state.VibrometerState.AS_Source == source ? "active" : "")" style="cursor:pointer">
                                        <i class="material-icons">show_chart</i> @this.GetTitle(source)
                                    </a>
                                </li>
                            }
                            <li class="nav-item ml-auto">
                                <a class="nav-link" style="cursor:pointer">
                                    <i class="material-icons" onclick="@this.ToggleRun">@(this.Run ? "pause_circle_filled" : "play_arrow")</i>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="card-body">
                <div class="tab-content">
                    <div class="tab-pane active">
                        @if ((ApiSource)state.VibrometerState.AS_Source == ApiSource.NoSource)
                        {
                            <div class="alert alert-info mx-auto" style="max-width:400px;margin-top:170px;margin-bottom:170px;">
                                <span>
                                    <b>Info - </b> No data source selected. Click on one of the headers or load a configuration file.
                                </span>
                            </div>
                        }
                        <canvas height="130" id="chart" style="@((ApiSource)state.VibrometerState.AS_Source == ApiSource.NoSource ? "display : none" : string.Empty)"></canvas>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-4">

    </div>
</div>

@functions
{
    private bool _initialized;

    private bool Run { get; set; }
    private PropertyChangedEventHandler Handler { get; set; }

    protected override void OnInit()
    {
        _initialized = false;

        this.Handler = async (sender, e) =>
        {
            List<ChartPoint> data1;
            List<ChartPoint> data2;

            if (e.PropertyName == nameof(state.BufferContent))
            {
                if (!this.Run)
                {
                    return;
                }

                data1 = null;
                data2 = null;

                switch ((ApiSource)state.VibrometerState.AS_Source)
                {
                    case ApiSource.NoSource:
                        data1 = new List<ChartPoint>();
                        break;

                    case ApiSource.Raw:
                        data1 = state.BufferContent.Select((value, i) => new ChartPoint(i * state.Summary.Step, unchecked((short)(value & 0x0000FFFF)))).ToList();
                        data2 = state.BufferContent.Select((value, i) => new ChartPoint(i * state.Summary.Step, unchecked((short)(value >> 16)))).ToList();
                        break;

                    case ApiSource.Position:
                    case ApiSource.Filter:
                        data1 = state.BufferContent.Select((value, i) => new ChartPoint(i * state.Summary.Step, unchecked((short)(value & 0x0000FFFF)))).ToList();
                        break;

                    case ApiSource.FourierTransform:

                        var real = state.BufferContent.Select(value => unchecked((short)(value & 0x0000FFFF))).ToArray();
                        var imag = state.BufferContent.Select(value => unchecked((short)(value >> 16))).ToArray();
                        var ampl = real.Zip(imag, (x, y) => Math.Sqrt(Math.Pow(x, 2) + Math.Pow(y, 2))).ToArray();
                        var count = ampl.Count();

                        data1 = ampl.Select((value, i) => new ChartPoint(i * state.Summary.Step, value)).ToList();
                        break;

                    default:
                        throw new ArgumentException();
                }

                if (data2 is null)
                {
                    data2 = new List<ChartPoint>();
                }

                await JSRuntime.Current.InvokeAsync<object>("Vibrometer.UpdateChart", "chart", data1, data2);
            }
            else if (e.PropertyName == nameof(state.VibrometerState))
            {
                await this.InitializeChart();
                base.StateHasChanged();
            }
        };

        state.PropertyChanged += this.Handler;

        this.Run = true;
    }

    protected override async Task OnAfterRenderAsync()
    {
        if (!_initialized)
        {
            await this.InitializeChart();
            _initialized = true;
        }
    }

    private async Task InitializeChart()
    {
        switch ((ApiSource)state.VibrometerState.AS_Source)
        {
            case ApiSource.NoSource:
                break;
            case ApiSource.Raw:
                await JSRuntime.Current.InvokeAsync<object>("Vibrometer.InitializeChart", "chart", state.Summary.XMin, state.Summary.XMax, $"time in {state.Summary.Unit}", -Math.Pow(2, 14 - 1), Math.Pow(2, 14 - 1) - 1, "raw");
                break;
            case ApiSource.Position:
                await JSRuntime.Current.InvokeAsync<object>("Vibrometer.InitializeChart", "chart", state.Summary.XMin, state.Summary.XMax, $"time in {state.Summary.Unit}", -Math.Pow(2, 16 - 1), Math.Pow(2, 16 - 1) - 1, "position");
                break;
            case ApiSource.Filter:
                await JSRuntime.Current.InvokeAsync<object>("Vibrometer.InitializeChart", "chart", state.Summary.XMin, state.Summary.XMax, $"time in {state.Summary.Unit}", -Math.Pow(2, 16 - 1), Math.Pow(2, 16 - 1) - 1, "filtered position");
                break;
            case ApiSource.FourierTransform:
                await JSRuntime.Current.InvokeAsync<object>("Vibrometer.InitializeChart", "chart", state.Summary.XMin, state.Summary.XMax, $"frequency in {state.Summary.Unit}", 0, Math.Pow(2, 16) - 1, "amplitude");
                break;
            default:
                throw new ArgumentException();
        }
    }

    private async void SelectSource(ApiSource source)
    {
        await signalR.Connection.InvokeAsync("UpdateSetting", ApiParameter.AS_Source.ToString(), (int)source);
    }

    private string GetTitle()
    {
        return this.GetTitle((ApiSource)state.VibrometerState.AS_Source);
    }

    private string GetTitle(ApiSource source)
    {
        switch (source)
        {
            case ApiSource.NoSource:
                return "no data source selected";
            case ApiSource.Raw:
                return "Raw";
            case ApiSource.Position:
                return "Position";
            case ApiSource.Filter:
                return "Filter";
            case ApiSource.FourierTransform:
                return "Spectrum";
            default:
                throw new ArgumentException();
        }
    }

    private void ToggleRun()
    {
        this.Run = !this.Run;
    }

    public void Dispose()
    {
        state.PropertyChanged -= this.Handler;
    }
}
