<div class="row mt-2">
    <div class="col">
        <h5 style="margin-bottom:0px">@Record.DisplayName</h5>
    </div>
</div>
<div class="row mb-2">
    <div class="col-10">
        <div class="form-group bmd-form-group">
            <label class="bmd-label-floating">@Record.Description</label>
        </div>
    </div>
    <div class="col-2">
        <div class="form-group bmd-form-group">
            @if (this.Record.Parameter == ApiParameter.AS_Source)
            {
                <select class="form-control" @bind="this.Value">
                    @foreach (ApiSource source in Enum.GetValues(typeof(ApiSource)))
                    {
                        <option value=@((int)source)>@Utilities.GetEnumLocalization((ApiSource)source, typeof(EnumerationDescription))</option>
                    }
                </select>
            }
            else
            {
                <input type="number" class="form-control" @bind="Value" step="1" min="@this.Record.Min" max="@this.Record.Max" />
            }
        </div>
    </div>
</div>

@functions
{
    private int _value;

    [Parameter]
    public int Value
    {
        get
        {
            return _value;
        }
        set
        {
            if (this.Record.Min <= value && value <= this.Record.Max)
            {
                _value = value;
                this.OnValueChanged?.Invoke(this.Record.Parameter, value);
            }
        }
    }

    [Parameter]
    public ApiRecord Record { get; set; }

    [Parameter]
    public Action<ApiParameter, int> OnValueChanged { get; set; }
}